.notes-list__card {
  width: 150px;
  border-radius: 10px;
  box-shadow: 0 1px 5px -1px rgba(0, 0, 0, 0.555);

  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 10px;
  background-color: var(--bg-note-card);
  cursor: pointer;
  transition: background 0.3s ease;
  animation: card-anim 0.3s ease;
}
@keyframes card-anim {
  0% {
    height: 0%;
  }
  100% {
    height: 100%;
  }
}
.notes-list__card:hover {
  background-color: var(--cardnote-hover);
}
.card__title {
  height: 24px;
  font-size: 18px;
  font-weight: bold;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.empty-card {
  color: gray;
}
.card__body {
  display: -webkit-box;
  flex-grow: 1;
  height: 50px;
  font-size: 12px;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  overflow: hidden;
  word-wrap: break-word;
}
.card__date {
  font-size: 12px;
  text-align: right;
  height: 16px;
}

@media only screen and (max-width: 520px) {
  .notes-list__card {
    width: 180px;
  }
}
